{% extends 'base.html' %}

{% block content %}


<div class="flex-container" style="align-items:center">
    <h1>Highlight List</h1>
    <a href="{%url 'highlights_create'%}" class="btn right">Create highlight</a>
</div>

{% for highlight in highlight_list %}
<div class="card">
    <a href="{%url 'highlights_detail' highlight.id%}"> 
        <div class="card-content">
            <div class="flex-container">
                <div>
                    <span class="card-title">
                        {{highlight.name}} <small>({{highlight.get_category_display}})</small> 
                    </span>

                </div>
                <div class="card-action right">
                    <a href="{% url 'highlights_update' highlight.id %}">Edit</a>
                    <a href="{% url 'highlights_delete' highlight.id %}">Delete</a>
                </div>

            </div>
        </div>
    </a>
</div>
{%endfor%}
{% endblock %}