{% extends 'base.html' %}
{% block content %}

{% if object %}
<h1>Edit <span class='teal-text'>{{object.name}}</span></h1>
{% else %}
<h1>Add Highlight</h1>
{% endif %}

<form action="" method="post">

    {% csrf_token %}
    <table>
        {{form.as_p}}
    </table>
    <input type='submit' value="Submit" class='btn'>
    {% if object %}
        <a href="{% url 'highlights_detail' highlight.id %}">Cancel</a>
    {% endif %}
</form>

<script>
    let selectEl = document.getElementById('id_category');
    M.FormSelect.init(selectEl); 
</script>


{% endblock %}