{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>There and Back Again</title>
</head>
<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav_wrapper">
                <ul>
                    <li>
                        <a href="{%url 'home'%}" class = "left brand-logo">There and Back Again</a>
                    </li>
                </ul>
                <ul class="right">
                    <li>
                        <a href="{%url 'about'%}">About</a>
                    </li>
                    <li>
                        <a href="{%url 'country_create'%}">Add a Country</a>
                    </li>
                    <li>
                        <a href="{%url 'index'%}">View the Travel Log!</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer">
        <div class="right">All Rights Reserved, &copy; 2022 TravelHub</div>
    </footer>
</body>
</html>