{% extends 'base.html' %}

{% block content %}

<h1>Country Detail</h1>
<div class="card">
    <div class="card-content">
        <div class="flex-container">
            <div>
                <span class="card-title"> {{country.country}}</span>
                <p>Rating: {{country.rating}}/10</p>
                <p>Last visited on: {{country.date}}</p>
                {% if country.comment %}
                    <p>General thoughts: {{country.comment}}</p>
                {% else %}
                    <p>No comment.</p>
                {% endif %}
            </div>

            <div class="right">
                <img width = '128px' height = '128px'  class="picture" src="{{country.picture}}"/>
            </div>
        </div>
        <div class="card-action">
            <a href="{% url 'country_update' country.id %}">Edit</a>
            <a href="{% url 'country_delete' country.id %}">Delete</a>
        </div>
    </div>
</div>
    
<div> 
    <h3>ADD LOCATION</h3>
    <form method="post" action="{% url 'add_location' country.id %}">
        {%csrf_token%}
        {{location_form.as_p}}
        <input type="submit" class="btn" value="Add Location">
    </form>
</div>

<div>
    <table class="striped">
        <thead>
            <tr>
                <th>Date Visited</th>
                <th>Location</th>
                <th>Rating</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            {% for location in country.location_set.all %}
            <tr>
                <td>{{location.date_visited}}</td>
                <td>{{location.location}}</td>
                <td>{{location.rating}}/10</td>
                <td>{{location.comment}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<hr>
<div class ="row">
    <div class="col s6">
        <h3>{{country.country}} Highlights</h3>

        {%if country.highlights.count > 0%}
            {%for highlight in country.highlights.all%}
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">
                            {{highlight.name}} <smaller>({{highlight.get_category_display}})</smaller> 
                        </span>
                    </div>
                    <div class="card-action">
                        <form action="{%url 'unassoc_highlight' country.id highlight.id%}" method="POST">
                            {%csrf_token%}
                            <button type="submit" class="btn">Remove Highlight</button>
                        </form>
                    </div>
                </div>
            {%endfor%}
        {%else%}
            <h5>This country does not have any highlights!</h5>
        {%endif%}
    </div>

    <div class="col s6">
        <h3>Available Highlights</h3>
        {%if highlights.count > 0 %}
            {%for highlight in highlights.all%}
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">
                            {{highlight.name}} <smaller>({{highlight.get_category_display}})</smaller> 
                        </span>
                    </div>
                    <div class="card-action">
                        <form action="{%url 'assoc_highlight' country.id highlight.id%}" method="POST">
                            {%csrf_token%}
                            <button type="submit" class="btn">Give Highlight</button>
                        </form>
                    </div>
                </div>
            {%endfor%}
        {%else%}
            <h5>{{country.country}} already has all the available highlights!</h5>
        {%endif%}
    </div>
</div>




<script>
let dateEl = document.getElementById('id_date_visited');
M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true,
});

// let selectEl = document.getElementById('id_location');
// M.FormSelect.init(selectEl);

</script>

{% endblock %}