{% extends 'base.html' %}

{% block content %}

<h1>{{country.name}}</h1>
{%if country.review_set.all|length > 0%}
{% for review in country.review_set.all %}
<div class="card">
    <div class="card-content">
        <div class="flex-container">
            <div style="color:black">
                <span class="card-title">{{review.location}} </span>
                <span class="card-title"><small>Review by {{review.user}}</small></span>
                <span class="card-subtitle"> Visited on: {{review.date_visited}}</span>
                <p>Rating: {{review.rating}}/10</p>
                <br>
                <h6>Comments:</h6>
                <p>{{review.comment}}</p>
            </div>

            <div class="right">
                <img width = '128px' height = '128px'  class="picture" src="{{review.picture}}"/>
            </div>
        </div>

        {% if user == review.user %}
        <div class="card-action">
            <a href="{% url 'review_update' review.id %}">Edit</a>
            <a href="{% url 'review_delete' review.id %}">Delete</a>
        </div>
        {%endif%}
    </div>
</div>
{% endfor %}

{%else%}
<p>There are no reviews for this country yet.</p>
<p>Add one below to get things started!</p>
{%endif%}
    
<div> 
    <h3>Add Review</h3>
    <form method="post" action="{% url 'add_review' country.id %}">
        {%csrf_token%}
        {{review_form.as_p}}
        <input type="submit" class="btn" value="Add Review">
    </form>
</div>

<hr>
<div class ="row">
    <div class="col s6">
        <h3>{{country.name}} Highlights</h3>
        {%if country.highlights.count > 0%}
            {%for highlight in country.highlights.all%}
                <div class="card">
                    <a href="{%url 'highlights_detail' highlight.id%}"> 
                        <div class="card-content">
                            <span class="card-title">
                                {{highlight.name}} <smaller>({{highlight.get_category_display}})</smaller> 
                            </span>
                        </div>
                    </a>
                    <div class="card-action">
                        <form action="{%url 'unassoc_highlight' country.id highlight.id%}" method="POST">
                            {%csrf_token%}
                            <button type="submit" class="btn">Remove Highlight</button>
                        </form>
                    </div>
                </div>
            {%endfor%}
        {%else%}
            <h5>This country does not have any highlights!</h5>
        {%endif%}
    </div>

    <div class="col s6">
        <h3>Available Highlights | <a href="{%url 'highlights_create'%}" class="btn">Create highlight</a></h3>
        
        {%if highlights.count > 0 %}
            {%for highlight in highlights.all%}
                <div class="card">
                    <a href="{%url 'highlights_detail' highlight.id%}"> 
                        <div class="card-content">
                            <span class="card-title">
                                {{highlight.name}} <smaller>({{highlight.get_category_display}})</smaller> 
                            </span>
                        </div>
                    </a>
                    <div class="card-action">
                        <form action="{%url 'assoc_highlight' country.id highlight.id%}" method="POST">
                            {%csrf_token%}
                            <button type="submit" class="btn">Give Highlight</button>
                        </form>
                    </div>
                </div>
            {%endfor%}
        {%else%}
            <h5>{{country.country}} already has all the available highlights!</h5>
        {%endif%}
    </div>
</div>




<script>
let dateEl = document.getElementById('id_date_visited');
M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true,
});

// let selectEl = document.getElementById('id_location');
// M.FormSelect.init(selectEl);

</script>

{% endblock %}